:root {
  font-family: "Montserrat", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  background: #f9f9f9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #090909;
  --primary-color: #76a9ff;
  --grey-800-color: #424242;
  --grey-900-color: #212121;
  --radio-button-grey-bg-color: #1c1c1c;
  --radio-button-active-bg-color: #292e36;
}

body {
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.page-container {
  padding: 1rem;
}
